body{
    background-color: rgb(35,35,35);
    
}
div.content{
    margin: 0 auto;
    width: 75vw;
}
/*using width as perventage and margin 0 auto this section is able to fit in mobile screen without using a media quary*/
header{
    text-align: center;
    background-color:#fff;
    padding: 10px;
    color: #1a71b8;
}

article{
    background: white;
    padding: 20px;
    margin: 30px 0;
    
}

article p{
    margin: 0 0 1em;    
}

section.post-head small{
    display:block;
    margin: 0 0 20px;
    padding: 0 0 20px;
    border-bottom: 1px solid #eee;
    color:rgb(80,200,245);
}

section.post-foot{
    font-size: 14px;
    border-top: solid 1px #eee;
    margin: 20px 0 0 0;
    padding: 20px 0 0 0;
}

footer{
    text-align:center;
    color:rgb(200,200,200);
    margin: 50px;
}
/* Big screen desktop*/
@media only screen and (min-width:1024px){

    
}
/*mobile phones*/
@media only screen and (min-device-width:375px) and (max-device-width:667px){
    
    
    
    
}
/*tablet and small size desktop*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
    article{padding: 5vw; margin: 5vh 0;}
    
}